fastapi==0.109.2
uvicorn[standard]==0.27.1
sqlalchemy==2.0.25
python-jose[cryptography]==3.3.0
bcrypt==4.1.2
passlib==1.7.4
python-multipart==0.0.9
pydantic==2.6.1
pydantic-settings==2.1.0
openai-whisper>=20231117
imageio-ffmpeg>=0.6.0
pyannote.audio>=3.1.0
google-generativeai>=0.8.0
deep-translator>=1.11.0
